body{
    background-color: #cccccc;
	background-image: linear-gradient(grey, white);
}

iframe {
	padding-top: 10px;
	padding-right: 200px;
	padding-left: 200px;
	border: 2px;
}
/*center text*/
.center{
    padding: 70px 0;
    text-align: center;
}

/* text css above hero image*/
.hero_title {
    font-size: 2rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
/* Display Image */
.displayimg {
    padding-top: 10px;
	width: 85%;
	padding-bottom: none;
	box-shadow: 10px 10px 5px grey;
	border-radius: 50%;
	object-fit: cover;
	height: auto;
	
}
/* services section css */
.servicesText.card {
    height: 280px;
	box-shadow: 10px 10px 5px grey;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
	box-shadow: 10px 10px 5px grey;
}
.card-title {
    text-align: center;
    border: 5px black !important;
    box-shadow: #000000;
}
.card:hover .servicesIcon {
    color: grey;
}
.servicesText:hover {
    border: 1px solid grey;
}
/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: black;
}
/* social media icons styling */
.social-icons {
    font-size: 24px;
    cursor: pointer;
}
.fa-instagram:hover,.fa-linkedin:hover {
    color: rgb(74, 74, 255);
}
.fab {
    color: white;
}

#footer {
    background-color: black;
    text-align: center;
}

/* Spacings */
#about, #services, #portfolio, #contact {
    margin-top: 4rem;
    padding-top: 4rem;
}
#contact {
    padding-bottom: 5rem;
}

hr{
    color: #000000;
	box-shadow: 10px 10px 5px grey;
}

.card-body {
	box-shadow: 10px 10px 5px grey;
	color: black;
}
